<launch>
    
    <!-- Lanzar el nodo turtlesim_node del paquete turtlesim -->
    <node pkg="turtlesim" type="turtlesim_node" name="turtlesim_node" output="screen"/>

    <!-- Lanzar el script lab3_spawn.py del paquete Practicas_lab -->
    <node pkg="Practicas_lab" type="lab3_spawn.py" name="lab3_spawn" output="screen"/>
</launch>
